<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Classification App</title>
        <link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',  filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',  filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',  filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static',  filename='site.webmanifest') }}">
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <br>
        <div id="instructions">
            <p><b>Instructions:</b> Copy and paste the text of any news story you find online and we will try to detect whether or not 
            it could be fake!</p>
        </div>
        <br>
        <div id="title">
            <label for="article">Article</label><br>
        </div>
        <form method="POST" target="_self" action="{{ url_for('predict')}}">
        <textarea id="input" name="article" placeholder="Paste article here"></textarea> <br>
        <input id="submit_button" type="submit" class="btn" value="Predict"> 
        </form>
        {% endblock %}
    </body>
</html>