<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News Classifier App</title>
        <link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css') }}">
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <br><br>
        <div id="title">
            <label for="article">Article</label><br>
        </div>
        <form method="POST" action="{{ url_for('predict')}}">
        <textarea id="input" name="article" placeholder="Paste article here"></textarea> <br>
        <input id="submit_button" type="submit" class="btn" value="Predict"> 
        </form>
        {% endblock %}
    </body>
</html>