<html>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',  filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',  filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',  filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static',  filename='site.webmanifest') }}">
        <base target="_blank">
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        
        {% if fake %}
        <br>
        <h2>Our model detected that the contents of this article is most likely <span>fake news</span>.</h2>
        {% else %}
        <br>
        <h2>Our model detected that the contents of this article most likely contain <span>real news</span>.</h2>
        {% endif %}

        <p>For more information about how this model came to this conclusion, please refer to the <a target="_self" href="{{ url_for('about') }}">disclaimer</a> here.
        <a target="_self" href="{{ url_for('home') }}">Click here to try another article.</a> </p>
        <br /><br /><br />
        <h4>Here are some helpful resources about finding factual news stories</h4>
        
        <div class="resources">
            <a id="card-link" href="https://www.americanpressinstitute.org/publications/six-critical-questions-can-use-evaluate-media-content/">
                <div class="card">
                    <img src="{{ url_for('static',  filename='6-questions.png') }}" alt="6 Questions">
                    <div class="container">
                        <p><b>6 Critical Questions</b></p>
                    </div>
                </div>
            </a>
            
            <a id="card-link" href="https://www.politifact.com/">
                <div class="card">
                    <img src="{{ url_for('static',  filename='politifact-crop.png') }}" alt="PolitiFact">
                    <div class="container">
                        <p><b>PolitiFact</b></p>
                    </div>
                </div>
            </a>
            
            <a id="card-link" href="http://www.vericrypt.io/covid">
                <div class="card">
                    <img src="{{ url_for('static',  filename='vericrypt.png') }}" alt="VeriCrypt">
                    <div class="container">
                        <p><b>VeriCrypt for COVID-19 Stories</b></p>
                    </div>
                </div>
            </a>
        </div>
        {% endblock %}
    </body>
</html>